body {
    background-color: #333;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

code {
    background-color: #F8F0E3;
    padding: 10px;
    border-radius: 15px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 12px;
}

.clock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
    font-size: 5em;
}

.repo {
    
    font-size: 2em;
    justify-content: left;
    align-items: left;
    display: flex;
    padding-left: 1em;
    
}


.repos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 2em;
}


socials {
    right: 15px;
    position: fixed;
    bottom: 5px;

}

.instagram {
    height: 25px;
    width: auto;
}

.twitter {
    height: 25px;
    width: auto;
}

.nametag {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 5em;
}
